body {
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#carousel {
		width: 480px;
		overflow:hidden;
	}

	#carousel ul {
		width: 3360px;
		padding: 0;
		margin: 0;
	}

	#carousel ul li {
		width:480px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
	}

  #carousel img {
    transform: rotate(90deg);
  }

  .arrows img {
    display: none;
  }
